<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>
    {% for item in post %}
        <div class="post">
            <h2>{{item.get("title")}}</h2>
            <p><em>{{item.get("author")}}</em></p>
            <p>{{item.get("content")}}</p>
            <div class="links">
                <div class="actions">
                    <a href="{{ url_for('delete', post_id=item.get('id')) }}" class="post_action">Delete</a>
                    <a href="{{ url_for('update', post_id=item.get('id')) }}" class="post_action">Update</a>
                </div>
                <div class="likes">
                    <p>{{ item.get("likes", 0) }} Likes</p>
                    <form action="{{ url_for('like', post_id=item.get('id')) }}" method="post" class="form_button">
                        <button type="submit">Like</button>
                    </form>
                </div>
            </div>
        </div>

    {% endfor %}
    <a href="{{ url_for('add') }}" class="add_post">Add Post</a>
</body>
</html>
